.search{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;

    .button-search{
        width: 20%;
        height: auto;
        padding: 0rem 0rem;
        box-sizing: border-box;
        align-content: center;
        justify-content: center;
        padding-bottom: 20px;
        .upload-button{
            width: 100%;
        }
    }
}