<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="font-size: 20px; height: 30px;">
          Imágenes
          <mat-icon>image</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Total ({{imagenes.length}})
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="list-files" *ngFor = "let imagen of imagenes">
        <app-file
        [url_image]="imagen.url"
        [name_image]="imagen.filename"
        [type_image]="imagen.contentType"
        class="file-item"
        ></app-file>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
