
.example-headers-align{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
    .list-files{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px; // Add some gap between the items
        padding: 16px; // Add some padding
        width: 100%;
        .file-item {
            margin-bottom: 16px; // Add some space between rows
          }
        
        
    }
}
